- name: "Install pre-requisites (fontconfig & Java)"
  apt:
    name:
      - fontconfig
      - "{{ java_package }}"
    state: present
    update_cache: true
  tags:
    - pre-requisites

- name: "Download Jenkins GPG key"
  get_url:
    url: "{{ jenkins_key_url }}"
    dest: "{{ jenkins_key_path }}"
    mode: '0644'
  tags:
    - pre-requisites

- name: "Add Jenkins APT repository"
  apt_repository:
    repo: "deb [signed-by={{ jenkins_key_path }}] {{ jenkins_repo_url }} binary/"
    state: present
    filename: jenkins
  tags:
    - repository

- name: "Update APT cache after adding Jenkins repository"
  apt:
    update_cache: true
  tags:
    - repository

- name: "Install Jenkins"
  apt:
    name: jenkins
    state: present
  tags:
    - jenkins

- name: "Ensure Jenkins service is started and enabled"
  service:
    name: jenkins
    state: started
    enabled: true
  tags:
    - jenkins
