apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: cloudcart
spec:
  selector:
    app: user-service
  ports:
  - port: 8001
    targetPort: 8001
    name: http
  type: ClusterIP
