apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: cloudcart
spec:
  selector:
    app: kafka
  ports:
  - port: 9092
    targetPort: 9092
    name: internal
  - port: 29092
    targetPort: 29092
    name: external
  clusterIP: None
