apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: cloudcart
spec:
  selector:
    app: order-service
  ports:
  - port: 8003
    targetPort: 8003
    name: http
  type: ClusterIP
