apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: cloudcart
spec:
  selector:
    app: product-service
  ports:
  - port: 8002
    targetPort: 8002
    name: http
  type: ClusterIP
